@{
    ViewBag.Title = "Home Page";
}

<form method="post" action="@Url.Action("Convert")" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Конвертировать" />
</form>
