{% extends "base.html" %}
{% block content%}
<p><a href="/rates" class="btn btn-sm btn-warning">Latest Currency(JSON)</a> <a href="/history/24" class="btn btn-sm btn-warning">Currency History(JSON)</a></p>
<h3>Actual currencies <i>(for 1 USD)</i></h3>

<table class="table">
  <tr><td>Currency</td><td>Rate</td></tr>
  {% for rate in rates %}
  <tr><td><strong>{{rate.name}}</strong></td><td>{{rate.value}}</td></tr>
  {% endfor %}
</table>

<span class="label label-warning">{{rates[0].date}}</span>
{% endblock %}
