<h1>Про Taggy</h1>

Проект является работой на научно-практическую конференцию(НПК) от гимназии №50 г.Минска в *2014-2015* году.

<h2> Об авторах </h2>

<h3> Авторы проекта </h3>

<ul>
<li> <strong>Андрей Наумович</strong> <i>(backend)</i> </li>
<li> <strong>Глеб Линник</strong> <i>(ios-client)</i> </li>
<li> <strong>Андрей Дашкевич</strong> </li>
<li> <strong>Александр Царук</strong> </li>
</ul>

<h3> Руководитель проекта </h3>

<ul>
<li> <strong>Николай Волосатов</strong> </li>
</ul>

<h2> Планы </h2>

<ul>
<li>Улучшить качество распознания текста</li>
<li>Перейти в оффлайн для мобильных</li>
<li>Указывать цену прямо на картинке</li>
<li>Определять конверсию по местоположению пользователя</li>
</ul>