@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Taggy</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- start google fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<!-- Add fancyBox main JS and CSS files -->
<script src="Content/js/jquery.min.js" type="text/javascript"></script>
<script src="Content/js/jquery.magnific-popup.js" type="text/javascript"></script>
<link href="Content/css/magnific-popup.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="header_left pull_left">	
			<div class="header_text">
				<h2>Taggy</h2>
				<h3>Absolutely new way to convert currencies</h3>
			</div>	
		</div>
		<div class="header_right">	
			<div class="iphone_pic">
				<img src="Content/images/pic1.png" alt=""  align="" />
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
<div class="top_grid_bg">
<div class="wrap">
	<div class="top_grid">
	<div class="pull_left top_grid1">
		<h3 class="style">What is the Taggy?</h3>
		<p>The project consists of two parts: a mobile application Taggy and a Web-site.  This mobile app allows the user to convert the prices from a price tag photo into the other currencies by means of the currency up-dating Web-site. Such applications as IOS, Android and Windows Phone don`t provide with this function, therefore our application is asserted to be absolutely unique and relevant in our contemporary multicurrency world.  </p>	<div class="button"><img src="Content/images/app_btn.png" alt=""/></div>
	</div>			
	<div class="pull_right top_grid2">
		<h3 class="style">How can you try it?</h3>
		<p class="text">You can convert the price from the photo on our Web-site online. Taggy hasn`t  been  yet released in Appstore, but it is already available for  Windows Phone smart phones   (Windows Phone 8.1+) users. Just click the downward link. </p>
				<div class="clear"></div>
				<div class="button">
					<a href="http://www.windowsphone.com/s?appid=0dee7b00-26f6-4bcd-9b17-1b7e7dc3c3c8"><img src="Content/images/gp_btn.png" alt=""/> </a>
				</div>			
	</div>
	<div class="clear"></div>
	</div>
</div>
</div>
<div class="mid_grid_bg">
<div class="wrap">
	<div class="mid_grid">
		<div class="mid_grid1_of_1 pull_left">
			<h2>OCR</h2>
			<p class="para">Taggy is based on OCR engines. In our app we`ve used Tesseract OCR  for  IOS and Microsoft OCR  for Windows Phone. Puma.NET is used on the Web-site . In comparison with Puma.NET Tesseract OCR & Microsoft OCR are constantly supported by their designers and are able to mark the recognized data.</p>
			<div class="read more">
				<a href="#small-dialog" class="popup-with-zoom-anim btn">More...</a>
			</div>
		</div>
		<div class="mid_grid1_of_2 pull_right">
			<div class="iphone_pic1">
				<img src="Content/images/pic2.png" alt=""/>				
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
<div class="btm_grid_bg">
<div class="wrap">
	<div class="btm_grid">
		<h2>All you need is to make a photo!</h2>
		<h3>Also you can try Taggy  <a href="http://taggy.by/converter">here</a>, until it is released in Appstore</h3>
		<div class="iphone_pic2">
			<img src="Content/images/pic3.png" alt=""/>				
		</div>
	</div>
	<div class="clear"></div>
</div>
</div>	
<div class="main_bg">
<div class="wrap">
	<div class="main">
		<!-- start magnific-->
    	<div id="small-dialog" class="mfp-hide">
			<div class="pop_up">
			 	<h2>OCR</h2>
			 	<p>Optical character recognition (OCR) is a mechanical or electronic image transfer of hard copy, type or pen script into alphanumeric data;   a sequence of codes used to represent symbols in a computer (e.g. a word processing program) 
).<br/><a href="http://en.wikipedia.org/wiki/Optical_character_recognition">(from Wikipedia)</a><br/>OCR engines sites: <a href="https://github.com/gali8/Tesseract-OCR-iOS">Tesseract OCR</a>, <a href="http://blogs.windows.com/buildingapps/2014/09/18/micr..">Microsoft OCR</a>.</p>
  			</div>
		</div>
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
		<!-- end magnific-->
	</div>
</div>
</div>
<div class="footer_bg">
<div class="wrap">
	<div class="footer">
		<div class="f_logo">
			<a href=""><h2>Taggy</h2></a>
			<span> new way to convert currencies </span>
		</div>
		<div class="f_btn">
			<ul>
				<li><img src="Content/images/app_btn1.png"></li>
				<li><a href="http://www.windowsphone.com/s?appid=0dee7b00-26f6-4bcd-9b17-1b7e7dc3c3c8"><img src="Content/images/gp_btn1.png"></a></li>
			</ul>
		</div>
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
		<!-- end magnific-->
		<!-- start magnific-->
    	<div id="small-dialog2" class="mfp-hide">
		</div>
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
		<!-- end magnific-->
		</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
		<div class="copy-right">
				<p>Copyright © 2015 V.A.S.A.G. All rights reserved • Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
	 	 </div>
</body>
</html>