@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    Рекомендации при фотографировании ценника</h1>
<li>Утановите высокое разрешение на своей фотокамере</li>
<li>Фотографируйте в хорошо освещенном помещении</li>
<li>Старайтесь сохранять прямой угол при фотографировании</li>
<li><strong>Фотографировать следует так, чтобы на понели результатов фото ценника не
    было повернуто:</strong></li>
    <h3>
    <strong>Windows Phone: </strong></h3>
<p>
     <img src=@Url.Content("~/Content/ImageWP.png") class="img-responsive"/>
   <h3> 
	<strong>Android:</strong>
   </h3>
    <img src=@Url.Content("~/Content/ImageAndroid.png")  class="img-responsive"/>