@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Рекомендации при фотографировании ценника</h1>
<strong>Не получается распознать цену? Вот вам несколько советов:</strong>
<li>Утановите высокое разрешение на своей фотокамере</li>
<li>Фотографируйте в хорошо освещенном помещении</li>
<li>Сохраняйте прямой угол при фотографировании</li>

<h3>Все равно не получается?</h3>
<h4>Делайте, как показано на картинке:</h4>
<p><img src="data:image/jpg;base64,@ViewBag.InfoImage"</p>

