@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    Рекомендации при фотографировании ценника</h1>
<li>Утановите высокое разрешение на своей фотокамере</li>
<li>Фотографируйте в хорошо освещенном помещении</li>
<li>Старайтесь сохранять прямой угол при фотографировании</li>
<li><strong>Фотографировать следует так, чтобы на понели результатов фото ценника не
    было повернуто</strong></li>
<h4>
    Пример:</h4>
<p>
    <img src="data:image/jpg;base64,@ViewBag.InfoImage" class="img-responsive"</p>
