<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>toggleSwitch</string>
			<key>Title</key>
			<string>auto_update</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>CURRENCY</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>country</string>
			<key>Title</key>
			<string>currency_country</string>
			<key>Titles</key>
			<array>
				<string>USD_l</string>
				<string>BYR_l</string>
				<string>RUB_l</string>
				<string>EUR_l</string>
				<string>AUD_l</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>USD</string>
				<string>BYR</string>
				<string>RUB</string>
				<string>EUR</string>
				<string>AUD</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
                <string>USD</string>
                <string>BYR</string>
                <string>RUB</string>
                <string>EUR</string>
                <string>AUD</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>transf</string>
			<key>Title</key>
			<string>currency_transf</string>
			<key>Titles</key>
			<array>
				<string>USD_l</string>
				<string>BYR_l</string>
				<string>RUB_l</string>
				<string>EUR_l</string>
				<string>AUD_l</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>USD</string>
				<string>BYR</string>
				<string>RUB</string>
				<string>EUR</string>
				<string>AUD</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
                <string>USD</string>
                <string>BYR</string>
                <string>RUB</string>
                <string>EUR</string>
                <string>AUD</string>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>copyright</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>version</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>0.5.2(beta)</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
